/** @format */
/** @format */
/* @import "../../../style.css";
*/

.second {
  display: grid;
  grid-template-columns: 6fr 1fr;
  gap: 83px;
  padding: 100px 0 100px 100px;
}

.second > h2 {
  display: none;
}

.image {
  background: url("../../../assets/second.svg") no-repeat;
  background-size: contain;
  width: 656px;
}
.svg {
  display: flex;
  align-items: center;
  gap: 8px;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about > span {
  position: relative;
  color: var(--color-text);
  font-family: var(--font-inter);
  font-size: 24px;
  font-weight: 600;
}

.about > span::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 55px;
  height: 3px;
  background-color: var(--color-bg);
  border-radius: 4px;
}

.p {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: var(--font-source);
  color: var(--color-text);
  font-size: 24px;
  font-weight: 400;
}

.p p {
  margin: 0;

  text-align: justify;
}

.span {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.span > span {
  font-family: var(--font-source);
  color: var(--color-text);
  font-size: 22px;
  margin-top: 20px;
}

.span > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.span div span {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: var(--font-source);
  color: var(--color-text);
  font-size: 24px;
  font-weight: 400;
}
.span div p {
  margin: 0;
  padding: 0 15px;
}

.span label {
  color: var(--color-bg);
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .second {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 0 30px;
    margin-top: 60px;
  }

  .image {
    grid-row: 1;
    width: 305px;
    height: 350px;
    background: url("../../../assets/secondmobile.svg") no-repeat;
    background-size: contain;
  }
  .about {
    gap: 10px;
  }

  .about > span {
    font-size: 16px;
  }

  .second > h2 {
    display: block;
    margin: 0;
    color: var(--color-bg);
    font-family: var(--font-inter);
    font-size: 20px;
    text-align: center;
    font-weight: 500;
  }

  .about h2 {
    display: none;
  }

  .p {
    font-size: 14px;
  }

  .span span {
    font-size: 14px;
    margin-top: 10px;
  }

  .span div {
    align-items: flex-start;
  }

  .span div span {
    font-size: 14px;
  }
}
